body {
  --bs-body-bg: #ffe4d4;
  --bs-body-color: #cf0001;
}
body .py-5 {
  background-color: #ffe4d4;
  color: #cf0001;
}
body .py-5-2 {
  background-color: #ecc2a9;
  color: #cf0001;
}

/*Header*/
header {
  background-color: #ffe4d4;
  color: #cf0001;
}
header .navbar-brand img {
  width: 70px;
  height: auto;
}
header .navbar-nav a {
  color: #cf0001; /* Couleur par défaut des liens */
  text-decoration: none; /* Supprime le soulignement */
  transition: color 0.3s ease; /* Ajoute une transition pour un effet fluide */
}
header .navbar-nav a:hover {
  color: #f3af87; /* Couleur des liens au survol */
}



/*Footer*/
footer {
  background-color: rgb(255, 228, 212);
  color: #cf0001;
  padding: 1rem 0;
}
footer a {
  color: #cf0001;
  text-decoration: none; /* Supprime le soulignement */
  transition: color 0.3s ease; /* Animation pour un effet fluide */
}
footer a:hover {
  color: #f3af87; /* Change la couleur au survol */
  text-decoration: none; /* Assure que le soulignement reste désactivé */
}
.back-to-top {
  cursor: pointer;
}
footer .social-icons a {
  margin-left: 15px;
}

/*Image avec texte superposé*/
.image-block {
  position: relative;
  width: 100%;
  height: 400px; /* Ajustez la hauteur selon vos besoins */
  background-color: black;
  /*background: url('img/photo_1.png') no-repeat center center;*/
  background-size: cover;
}

/* Texte centré sur l'image */
.image-block .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3af87;
  /*font-weight: bold;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour améliorer la lisibilité du texte */
}

/* Carousel */
.carousel-item {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}
.carousel-img img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-left: 5%;
}
.carousel-text {
  margin-top: 0;
  margin-right: 5%;
  width: 50%;
  height: 100%;
  object-fit: cover;
  background-color: white; /*rgba(255, 228, 212, 1);*/
  color: #cf0001;
}

/* Style des flèches de navigation */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  /*background-color: black;*/
  border-radius: 50%;
}

/* Positionnement des flèches de navigation sur les côtés */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
